*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top , #65dfc9,#6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*                BACKGROUND                    */
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.4));
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle1{
    top: 5%;
    right: 15%;
}
.circle2{
    bottom: 5%;
    left: 10%;
}

/*                      PANEL                    */

.user img{
    height: 100px;
    width: auto;
}

.cardİcon , .discordİcon{
    font-size: 75px;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.425),rgba(255,255,255,0.2));
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 2rem 0px;
    padding: 0.1rem 1rem;
    letter-spacing: 1.5px;
    align-items: center;
}
.link .fas{
    font-size: 30px;
    color: #65dfc9;
}

.link h2{
    font-size: 15px;
    margin: 0rem 1rem;
}

.skills{
    flex: 2;
}

.discord {
    background: linear-gradient(to right top , #65dfc9,#6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
    margin: 1rem 1rem;
    
}